
/*
Author: Devin Smith
Sprint 1
02-10-2019

Basic style sheet:
    -Changes background color
    -Resizes Image
    -Moves text and other features to right side of screen

*/


body{
    margin: 0;
    position: relative;
    height: auto;
    font-family: "Georgia";
    width: 100%;

}

/*
    initiates the grid specified in index.html 
    code is modified from code on w3schools
*/
.grid-container {
    display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 2%;

  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;
  }

/*
change the header:
    -color
    -add border
*/
h1{
    background: rgb(2, 40, 59);/*dark blue*/
    margin-bottom: 0;
    color: rgba(228, 240, 240, 1);/*white*/
    border-bottom-style: solid;
    border-color: rgba(78, 121, 136, 1);/*light blue*/
    font-size: 50;
}

/* 
    Set the size of the div element that contains the map 
*/
#map {
    height: 700px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
 
/*
    change colors and reposition
*/
h4{
    color: rgba(0, 80, 120, 1);
    text-align: center;
    margin-bottom: 5%;
    margin-left: auto;

}

/*input boxes*/
table{
    margin-left: auto;
    margin-bottom: 5%;
    border-radius: 7px;
}

/*dropdown menu*/
select{
    position: absolute;
    right: 15%;
    background-color:aliceblue;
    color: rgba(0, 80, 120, 1);

}
/*submit button*/
button{
    position: absolute;
    right: 10%;
    left: auto;
    color: rgba(0, 80, 120, 1);
    background-color: aliceblue;
    border-radius: 7px;
}
